.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
  }
  
  
  .certificate .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
  }
.certificate h2{
  text-align: center;
  margin-top: -40px;
 
}
  
  .certificate .column {
    display: flex;
    flex: 25%;
    max-width: 25%;
    width: 100%;
    margin: 2rem 1rem 0 1rem !important;
    padding: 1.5rem 1.5rem;
    align-self: normal !important;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    transition: all 0.6s ease;
    position: relative;
    align-items: flex-end;
    justify-content: center;
     background-color: white;
     overflow: hidden;
  }
  
  .certificate img {
    border-radius: 5px;
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
    opacity: 1;
  }
  
  .certificate .overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(29, 28, 28, 0.623);
    padding: 1rem 1.5rem;
    margin-left: -24px;
    margin-bottom: -10px;
    display: flex;
    transition: all 0.5s ease;
  }
  
  .certificate .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .certificate h3 {
    font-weight: 700;
    font-size: 0.9rem;
  }
  
  .certificate p {
    font-size: 0.7rem;
    color: rgb(245, 241, 241);
  }
  
  .certificate .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .certificate .icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
  }
  
  .certificate .icon:hover {
    color: white;
    transform: scale(1);
  }
  
  
  @media screen and (max-width: 700px) {
    .certificate .column {
      flex: 100%;
      max-width: 100%;
      margin: 0;
      margin-top: 1rem;
    }
  
    .certificate .overlay {
      position: absolute;
      padding: 0.5rem 1rem;
      transition: all 0.5s ease;
      bottom: -150px;
    }
  
    .certificate h3 {
      font-size: 1.2rem;
    }
  
    .certificate p {
      font-size: 1rem;
    }
  
    .certificate .column:hover .overlay {
      bottom: 0px;
    }
  }
  
  @media screen and (min-width: 701px) {
    .certificate .column {
      flex: 46%;
      max-width: 30%;
      transition: all 2s ease;
      overflow: hidden;
    }
  
    .certificate h3 {
      font-size: 1.2rem;
    }
  
    .certificate p {
      font-size: 1rem;
    }
  
    .certificate img {
      z-index: 0;
      opacity: 1.95;
    }
  
    .certificate .column:hover img {
      opacity: 0.5;
      z-index: 0;
    }
  
    .certificate .overlay {
      position: absolute;
      padding: 0.5rem 1rem;
      transition: all 0.5s ease;
      bottom: -300px;
    }
  
    .certificate .column:hover .overlay {
      bottom: 0px;
    }
  
  }

  