.container1{
    width: 100vh;
    height: auto;
    padding: 2rem;
    border-radius: 15px;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    margin:auto;
    display: flex;
    position: relative;
}