/* .container.testimonials_container {
    width: 40%;
  }
  
  .peer_avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 0.4rem solid var(--color-primary-variant);
    margin: 0 auto 1rem;
  }
  
  .testimonial {
    background-color: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
  }
  
  .peer_review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
  }
  
  @media screen and (max-width: 1024px) {
    .container.testimonials_container {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container.testimonials_container {
      width: var(--container-width-sm);
    }
  
    .peer_review {
      width: var(--container-width-sm) ;
    }
  } */

  .portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 1rem;
}

.portfolio-item-desc{
    display: inline-block;
}

.portfolio__item-cta{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

/*=============MEDIA QUERIES (MEDIUM DEVICES)========= */
@media screen and (max-width: 1024px){
   .portfolio__container{
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
   }
}

/*=============MEDIA QUERIES (SMALL DEVICES)========= */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem
    }
}