@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: black;
} 
.scrollbar::-webkit-scrollbar{
  display: none;
}
footer{
  width: 100%;
  margin-top: 100px;
  height: 8vh;
  background: #141414;
  display: grid;
  place-items: center;
  color: #adabab;
  font-size: 12px;
}
.footer-content span{
  color: #CC6C06;
}
.contact{
  color: #827e7e9a;
  font-family: fantasy;
  font-size: 6rem;
  right: auto;
  text-align: center;
  opacity: 0.4;
}


